<div style="clear: both;"/>
<footer class="site-footer">

    <!-- <p>
        <a href="https://scholar.google.com/citations?user=yInhszwAAAAJ&hl=en" target="_blank">
            <img src="{{ '/assets/icons/scholar.png' | relative_url }}" />
        </a>
        <a href="https://github.com/simran-khanuja" target="_blank">
            <img src="{{ '/assets/images/github.png' | relative_url }}" />
        </a>
        <a href="https://www.instagram.com/simran.khanuja7/" target="_blank">
            <img src="{{ '/assets/images/instagram.png' | relative_url }}" />
        </a>
        <a href="https://twitter.com/simi_97k/" target="_blank">
            <img src="{{ '/assets/images/twitter.png' | relative_url }}" />
        </a>
    </p> -->
</footer>
